<div class="hero vh-100 d-flex align-items-center" id="home">
  <div class="container">
    <div class="row">
      <div class="text-center fw-bold mx-auto">
        <h1 class="display-4 text-light">Travelogue</h1>
        <p class="text-light my-3">
          旅行記録を投稿し合うWebサイトです。
        </p>
        <a href="/post" class="btn btn-primary px-4 py-2 mt-4">利用を開始する（無料）</a>
      </div>
    </div>
  </div>
</div>
